/build
/release/bin
/release/lib
/release/include/terra/lauxlib.h
/release/include/terra/lua*.h
/terra
/tests/afile.txt
/tests/benchmark_fannkuchredux
/tests/benchmark_nbody
/tests/hello
/tests/output
/tests/output2
/tests/renamed
/tests/speed
/tests/dynlib
/tests/dynlib.exe
/tests/not_bc

*.bc
*.ll
*.o
*.so

*~
