/build
/cmake-build-debug
/docs/_site
/docs/_vendor
/install
/release/bin
/release/lib
/release/include/terra/lauxlib.h
/release/include/terra/lua*.h
/terra
/tests/afile.txt
/tests/benchmark_fannkuchredux
/tests/benchmark_nbody
/tests/hello
/tests/output
/tests/output2
/tests/renamed
/tests/speed
/tests/dynlib
/tests/dynlib.exe
/tests/not_bc
/tests/class2
/tests/inline_c.exe
/tests/objc
/tests/objc2
/tests/stdio.exe

/.idea

*.bc
*.ll
*.o
*.so

*~
