/build
/release/bin
/release/lib
/terra
/tests/afile.txt
/tests/benchmark_fannkuchredux
/tests/benchmark_nbody
/tests/hello
/tests/output
/tests/output2
/tests/renamed
/tests/speed

*.bc
*.ll
*.o
*.so
