os: Visual Studio 2013

environment:
  matrix:
    - LLVM_VERSION: 3.5.2
      LLVM_VERSION_SHORT: 35
    # - LLVM_VERSION: 3.8.1
    #   LLVM_VERSION_SHORT: 38

install:
  - appveyor DownloadFile https://github.com/elliottslaughter/llvm-package-windows/releases/download/clang-%LLVM_VERSION%-nvptx/llvm-%LLVM_VERSION%-windows-amd64-msvc12-msvcrt.7z
  - 7z x llvm-%LLVM_VERSION%-windows-amd64-msvc12-msvcrt.7z
  - set LLVM_DIR=%CD%\llvm-%LLVM_VERSION%-windows-amd64-msvc12-msvcrt
  - set CLANG_RESOURCE_DIRECTORY=%LLVM_DIR%\lib\clang\%LLVM_VERSION%

  - appveyor DownloadFile http://luajit.org/download/LuaJIT-2.0.5.zip
  - 7z x LuaJIT-2.0.5.zip
  - set LUAJIT_DIR=%CD%\LuaJit-2.0.5

  - appveyor DownloadFile  https://developer.nvidia.com/compute/cuda/8.0/prod/local_installers/cuda_8.0.44_windows-exe -FileName cuda_8.0.44_windows.exe
  - cuda_8.0.44_windows.exe -s compiler_8.0 cublas_8.0 cublas_dev_8.0 cudart_8.0 curand_8.0 curand_dev_8.0
  - set CUDA_DIR=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0

  - set TERRA_DIR=%CD%
  - dir

build_script:
  - call "%VS120COMNTOOLS%\..\..\VC\vcvarsall.bat" x86_amd64
  - cd msvc
  - nmake
  - cd ..

test_script:
  - release\bin\terra tests\hello.t
  # - cd tests
  # - ..\release\bin\terra run
  # - cd ..
