environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      LLVM_VERSION: 6.0.1
      LLVM_VERSION_SHORT: 60
      VS_MAJOR_VERSION: 14
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      LLVM_VERSION: 5.0.2
      LLVM_VERSION_SHORT: 50
      VS_MAJOR_VERSION: 14
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      LLVM_VERSION: 3.5.2
      LLVM_VERSION_SHORT: 35
      VS_MAJOR_VERSION: 12
#    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
#      LLVM_VERSION: 7.0.0
#      LLVM_VERSION_SHORT: 70 Currently unsupported by terr
#      VS_MAJOR_VERSION: 14
#    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
#      LLVM_VERSION: 4.0.1 Currently unsupported by terra
#      LLVM_VERSION_SHORT: 40
#      VS_MAJOR_VERSION: 14

install:
  # Hopefully temporary lines
  - if /I "%LLVM_VERSION_SHORT%" LSS "40" (set BINARY_SOURCE_USER=elliottslaughter)
  - if /I "%LLVM_VERSION_SHORT%" GEQ "40" (set BINARY_SOURCE_USER=Mx7f)
  - appveyor DownloadFile https://github.com/%BINARY_SOURCE_USER%/llvm-package-windows/releases/download/clang-%LLVM_VERSION%-nvptx/llvm-%LLVM_VERSION%-windows-amd64-msvc%VS_MAJOR_VERSION%-msvcrt.7z
  - 7z x llvm-%LLVM_VERSION%-windows-amd64-msvc%VS_MAJOR_VERSION%-msvcrt.7z
  - set LLVM_DIR=%CD%\llvm-%LLVM_VERSION%-windows-amd64-msvc%VS_MAJOR_VERSION%-msvcrt
  - set CLANG_RESOURCE_DIRECTORY=%LLVM_DIR%\lib\clang\%LLVM_VERSION%

  - appveyor DownloadFile http://luajit.org/download/LuaJIT-2.0.5.zip
  - 7z x LuaJIT-2.0.5.zip
  - set LUAJIT_DIR=%CD%\LuaJit-2.0.5

  # - appveyor DownloadFile  https://developer.nvidia.com/compute/cuda/8.0/prod/local_installers/cuda_8.0.44_windows-exe -FileName cuda_8.0.44_windows.exe
  # - cuda_8.0.44_windows.exe -s compiler_8.0 cublas_8.0 cublas_dev_8.0 cudart_8.0 curand_8.0 curand_dev_8.0
  # - set CUDA_DIR=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0

  - set TERRA_DIR=%CD%
  - dir

  - ps: git describe --tags | ForEach-Object { $_ -replace "release-", "" } | ForEach-Object { [regex]$pattern = "-"; $pattern.replace($_, ".", 2) } | Set-Content terra_version.txt
  - set /p TERRA_VERSION=<terra_version.txt

build_script:
  # There is probably a better way to do this...
  - if /I "%VS_MAJOR_VERSION%" EQU "14" (call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" x86_amd64)
  - if /I "%VS_MAJOR_VERSION%" EQU "12" (call "%VS120COMNTOOLS%\..\..\VC\vcvarsall.bat" x86_amd64)
  - cd msvc
  - nmake
  - cd ..

  # Package for release
  - set TERRA_SHARE_PATH=%TERRA_DIR%\release\share\terra
  - ps: |
        If($Env:LLVM_VERSION_SHORT -eq 60) {
          git ls-tree HEAD -r tests --name-only | ForEach-Object { $dir = "$Env:TERRA_SHARE_PATH\$(Split-Path -Path $_)"; If(!(Test-Path "$dir")) { New-Item -Path "$dir" -ItemType Directory }; Copy-Item $_ "$dir" }
          $Env:RELEASE_NAME = "terra-Windows-x86_64-$(git rev-parse --short HEAD)"
          Rename-Item release "$Env:RELEASE_NAME"
          7z a "$Env:RELEASE_NAME.zip" "$Env:RELEASE_NAME"
          Rename-Item "$Env:RELEASE_NAME" release
        }

test_script:
  - cd tests
  - ..\release\bin\terra run
  - cd ..

artifacts:
  - path: 'terra-*.zip'
    name: terra_release

deploy:
  description: '$(APPVEYOR_REPO_TAG_NAME)'
  provider: GitHub
  auth_token:
    secure: todo
  artifact: terra_release
  force_update: true
  on:
    appveyor_repo_tag: true
