<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/prism.css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40269412-1']);
      _gaq.push(['_setDomainName', 'terralang.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="title">
        <a href="index.html"><h1 class="title"><img width="70px" src="logo.png">Terra</h1></a>
        <p>A low-level counterpart to Lua</p>
        </div>
        <div class="links">
        <!--<p><a href="demo.html">Try Terra Online</a></p>-->
        <a href="index.html" >home</a>
        <a href="https://github.com/zdevito/terra/releases" >downloads</a>
        <a href="http://github.com/zdevito/terra" >source</a>
        <a href="getting-started.html" >getting started</a>
        <a href="api.html" >api reference</a>
        <a href="publications.html">publications</a>
        <a href="list.html">mailing list</a>
        <a href="http://cs.stanford.edu/~zdevito">contact</a>
        <!-- <p><a href="about.html" >About Us</a></p> -->
        </div>
        <hr/>
      </header>
      <section class="language-terra">
      {{ content }}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/prism.js"></script>
  </body>
</html>